body {
  margin: 0;
}

button {
  width: 100%;
  color: #1670fe;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #1670fe;
  border-left: none;
  border-right: none;
}

button:hover, button:focus, button:active {
  background-color: #ddd;
}

img {
  vertical-align: middle;
}

h3 {
  color: #1670fe;
}
