body {
  margin: 0;
}

button {
  width: 100%;
  color: #1670fe;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #1670fe;
}

img {
  vertical-align: middle;
}

h3 {
  color: #1670fe;
}
